
body, html {
    margin: 0;
    padding: 0;
    background-color: #232b2b;
    color: #FAF9F6;
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: 'Share Tech Mono', monospace;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;

}
h2 {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;

}
.section_title{
    text-decoration-style: dotted;
    
}
.footer {
    padding: 50px;
    text-align: right;
}
body #top-button, html #top-button {
    bottom: 15px;
    right: 3px;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }